// color of text inside code blocks
$code-color: #d63384;

// Override default bootstrap colors
$primary: #1c1e29;
$secondary: #33354b;
$form-check-input-checked-bg-color: $code-color;

// import bootstrap
@import '../../node_modules/bootstrap/scss/bootstrap';

// delimeter in navbar 
.delimeter {
  color: $primary;
}

// coloured links in navbar
.link-header, .link-header:focus {
  color: white;
}

.link-header:hover {
  color: $code-color;
}

// for cookie loop
pre.cookies {
  border: 1px solid $secondary;
  border-radius: 5px;
  // padding: 10px;
  overflow: auto; /* Add this property to enable horizontal scrolling if needed */
}

pre code {
  color: $code-color;
}

form textarea {
  white-space: no-wrap;
  overflow-x: scroll;
  border-radius: 5px;

}

// labels for checkboxes in /attack page
#AllForms {
  color: white;
}
