<script type="text/javascript" src="script.js"></script>


<div>
    <h3>Images</h3>
    <img id="img_none" src="" alt="NoneImg">
    <img id="img_lax" src="" alt="LaxImg">
    <img id="img_strict" src="" alt="StrictImg">
</div>



<div>
    <h2>Forms</h2>

    <div>          <!-- None  -->
        <form id="Same-Site-None-Get">
            <input type="hidden" name="reset" value="ok" />
            <button type="submit" id="NoneGet">Send Get Request to None page</button>
        </form>
        <form id="Same-Site-None-Post">
            <input type="hidden" name="reset" value="ok" />
            <button type="submit" id="NonePost">Send Post Request to None page</button>
        </form>
    </div>

    <div>         <!-- Lax  -->
        <form id="Same-Site-Lax-Get">
            <input type="hidden" name="reset" value="ok" />
            <button type="submit" id="LaxGet">Send Get Request to Lax page</button>
        </form>
        <form id="Same-Site-Lax-Post">
            <input type="hidden" name="reset" value="ok" />
            <button type="submit" id="LaxPost">Send Post Request to Lax page</button>
        </form>
    </div>

    <div>        <!-- Strict  -->
        <form id="Same-Site-Strict-Get">
            <input type="hidden" name="reset" value="ok">
            <button type="submit" id="StrictGet">Send Get Request to Strict page</button>
        </form>
        <form id="Same-Site-Strict-Post">
            <input type="hidden" name="reset" value="ok">
            <button type="submit" id="StrictPost">Send Post Request to Strict page</button>
        </form>
    </div>

</div>


<div>
    <!-- GET -->
    <p id="creds_get_iframe">Creds get iframe </p>
    <p id="gen_get_iframe">Gen get iframe</p>
    <p id="null_get_iframe">Null get iframe</p>
    <p id="correct_get_iframe">Correct get iframe</p>

    <!-- POST -->
    <p id="creds_post_iframe">Creds post iframe</p>
    <p id="gen_post_iframe">Gen post iframe</p>
    <p id="null_post_iframe">Null post iframe</p>
    <p id="correct_post_iframe">Correct Post iframe</p>
</div>









<script>






main();

/*
Description:


*/

</script>








