<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>CSTL workshop</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">
    </head>
    <body class="bg-primary">
        <div class="container bg-secondary rounded">
            <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between mt-4" style="height: 9%;">
            <div class="col-3 mt-1">
                <h2>
                    <a href="/" class="d-inline-flex text-decoration-none link-header">
                    CSTL
                    </a>
                </h2>
            </div>
        
            <ul class="nav col-3 col-md-auto mb-2 text-start mb-md-0">
                <li><a href="/docs" class="nav-link px-2 link-header">Docs</a></li>
                <li class="nav-link px-2 delimeter">|</li>
                <li><a href="/attack" class="nav-link px-2 link-header">CORS testing</a></li>
                <li class="nav-link px-2 delimeter">|</li>
                <li><a href="/edit" class="nav-link px-2 link-header">Exploit creator</a></li>
            </ul>
        
            <ul class="nav col-3 col-md-auto mb-2 text-end mb-md-0">
                <li><a href="https://t.me/SidneyJobChannel" class="nav-link px-2 link-header">SidneyJob</a></li>
                <li class="nav-link px-2 text-white">&</li>
                <li><a href="https://t.me/hackthishit" class="nav-link px-2 link-header">tokiakasu</a></li>
            </ul>
        
            <!-- <div class="col-md-3 text-end">
                <button type="button" class="btn btn-outline-primary me-2">login</button>
                <button type="button" class="btn btn-primary">sign-up</button>
            </div> -->
            </header>
        </div>
        {% block content %}
        {% endblock %}
    </body>
</html>