{% extends "base.html" %}

{% block content %}


<!-- <div class="collapse bd-toc-collapse" id="tocContents">
    <nav id="TableOfContents">
        <ul>
            <li><a href="#quick-start" class="">Quick start</a></li>
            <li><a href="#cdn-links">CDN links</a></li>
            <li><a href="#next-steps">Next steps</a></li>
            <li><a href="#js-components">JS components</a></li>
            <li><a href="#important-globals">Important globals</a>
            <ul>
                <li><a href="#html5-doctype">HTML5 doctype</a></li>
                <li><a href="#viewport-meta">Viewport meta</a></li>
                <li><a href="#box-sizing">Box-sizing</a></li>
                <li><a href="#reboot">Reboot</a></li>
            </ul>
            </li>
            <li><a href="#community">Community</a></li>
        </ul>
    </nav>
</div> -->

<div class="container mt-4 p-1 text-start text-white">
    <div class="row justify-content-center">
    <div class="col-8 d-grid">

            <div class="row mb-3">
                <h1>Get started with CSTL</h1>
                <p class="bd-lead">This lab is designed to test hypothetical client-side attacks, particularly in misconfiguration of <abbr title="Cross-Origin Resource Sharing">CORS</abbr>.</p>
                <p class="bd-lead">If you don't understand what we are talking about, read our <a class="link-info link-offset-2 text-decoration-none" href="https://xakep.ru">research.</a></p>
            </div>

            <div class="row">
                <h2>How to use CORS testing page</h2>
                <p>1. Configure endpoints in <code>.env</code> file</p>
                <p>2. Go to CORS testing page</p>
                <p>3. Send a request!</p>
            </div>
            
            <div class="row">
                <h2>How to use Exploit creator</h2>
                <p>1. Customize the response headers and page body</p>
                <p>2. Save your exploit</p>
                <p>3. View page with your exploit!</p>
            </div>           

            <div class="row">
                <h2>Environment variables</h2>
                <table class="table ms-2">
                    <thead>
                        <tr>
                            <th scope="col">Variable</th>
                            <th scope="col">Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><code>HOST</code></td>
                            <td>Defines from which network the laboratory will be accessed</td>
                        </tr>
                        <tr>
                            <td><code>PORT</code></td>
                            <td>Defines on which port the laboratory will operate</td>
                        </tr>
                        <tr>
                            <td><code>SECRET_KEY</code></td>
                            <td>Defines the secret key for signing JWT tokens</td>
                        </tr>
                        <tr>
                            <td><code>ATTACK_DOMAIN</code></td>
                            <td>Defines which domain requests will go to from the /cors_testing and /csrf_testing pages</td>
                        </tr>
                        <tr>
                            <td><code>INTERACTSH_DOMAIN</code></td>
                            <td>Defines where the response from the server will be sent when using CORS misconfigs</td>
                        </tr>
                        <tr>
                            <td><code>CORS_DOMAIN</code></td>
                            <td>Needed to properly configure CORS. CORS is configured to allow reading within a user session from all subdomains</td>
                        </tr>
                        <tr>
                            <td><code>FLASK_DEBUG</code></td>
                            <td>Defines the standard `debug` option in Flask</td>
                        </tr>
                        <tr>
                            <td><code>FLASK_RUN_CERT</code></td>
                            <td>Defines whether SSL will be used</td>
                        </tr>
                        <tr>
                            <td><code>LOG_REQUESTS</code></td>
                            <td>Defines whether requests will be logged</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="row mt-5">
                <h2>Cookie types</h2>
                <table class="table ms-2">
                    <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">SameSite</th>
                            <th scope="col">HttpOnly</th>
                            <th scope="col">Secure</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><code>SameSite-None</code></td>
                            <td>None</td>
                            <td>False</td>
                            <td>True</td>
                        </tr>
                        <tr>
                            <td><code>SameSite-Lax</code></td>
                            <td>Lax</td>
                            <td>False</td>
                            <td>False</td>
                        </tr>
                        <tr>
                            <td><code>SameSite-Strict</code></td>
                            <td>Strict</td>
                            <td>False</td>
                            <td>False</td>
                        </tr>
                        <tr>
                            <td><code>Undefined-SameSite</code></td>
                            <td>[undefined]</td>
                            <td>False</td>
                            <td>False</td>
                        </tr>
                        <tr>
                            <td><code>HttpOnly-SameSite-None</code></td>
                            <td>None</td>
                            <td>True</td>
                            <td>True</td>
                        </tr>
                        <tr>
                            <td><code>HttpOnly-SameSite-Lax</code></td>
                            <td>None</td>
                            <td>True</td>
                            <td>False</td>
                        </tr>
                        <tr>
                            <td><code>HttpOnly-SameSite-Strict</code></td>
                            <td>None</td>
                            <td>True</td>
                            <td>False</td>
                        </tr>
                        <tr>
                            <td><code>HttpOnly-Undefined-SameSite</code></td>
                            <td>[undefined]</td>
                            <td>True</td>
                            <td>False</td>
                        </tr>
                    </tbody>
                </table>

            </div>



        </div>
    </div>
</div>
{% endblock %}