{% extends "base.html" %}

{% block content %}
<div class="container mt-4 p-1 text-start text-white">
    <div class="row">
        <h1>Exploit creator</h1>
    </div>
    <div class="col-6 ms-4 mt-3">
        <ul>
            <li>Actual lab for testing <b>yours</b> CORS PoC.</li>
            <li>Made by SidneyJob and tokiakasu for our <a class="link-info link-offset-2 text-decoration-none" href="https://xakep.ru">research.</a></li>
            <li>blah blah <code>1337</code> blah <code>elite blah blah</code>.</li>
        </ul>
    </div>

    <br>

    <div class="container">
        <form id="Editor" action="/edit" method="POST" style="max-width: unset">
            <h3><b>Editor</b></h3>

            <label>Exploit headers:</label><br>
            <textarea rows="5" cols="70" name="Headers">{{headers}}</textarea><br><br>
            
            <label>Exploit body:</label><br>
            <textarea rows="15" cols="70" name="Body">{{body}}</textarea><br><br>
            <div class="col-4">
                <div class="col-lg-6 col-xxl-6 mx-auto">
                    <div class="d-grid gap-2 justify-content-end">
                        <button name="action" value="Store" class="btn btn-outline-light">STORE</button>
                        <button name="action" value="View" class="btn btn-outline-danger">View</button>
                    </div>
                </div>
            </div>
            
        </form>
    </div>
</div>

{% endblock %}