{% extends "base.html" %}

{% block content %}
<div class="container mt-4 p-1 text-start text-white">
    <div class="row">
        <h1>Exploit creator</h1>
        <div class="col-6 ms-4 mt-3">
            <ul>
                <li>Actual lab for testing <b>yours</b> CORS PoC.</li>
                <li>Made by SidneyJob and tokiakasu for our <a class="link-info link-offset-2 text-decoration-none" href="https://xakep.ru">research.</a></li>
                <li>blah blah <code>1337</code> blah <code>elite blah blah</code>.</li>
            </ul>
        </div>
        <div class="container mx-2 mt-2">
            <form id="Editor" action="/edit" method="POST">
                <div class="form-group row">
                    <h3><b>Editor</b></h3>

                    <div class="col-6 mt-2"> 
                        <div class="d-grid gap-2">
                            <div class="d-grid gap-2 ms-2 mb-3">
                                <label for="headers-text">Server headers</label>
                                <textarea placeholder="Type in your exploit headers here" id="headers-text" class="form-control" rows="5" cols="50" name="Headers">{{headers}}</textarea><br><br>
                            </div>
                            <div class="d-grid gap-1 ms-2 mb-3">
                                <label for="body-text">Server body</label><br>
                                <textarea placeholder="Type in your exploit body here" id="body-text" class="form-control" rows="8" cols="50" name="Body">{{body}}</textarea><br><br>
                            </div> 
                        </div>
                    </div>
                    
                    <div class="col-4 mt-5 ms-5">
                        <div class="d-grid gap-2">
                            <button name="action" value="Store" class="btn btn-outline-light">Store</button>
                            <button name="action" value="View" class="btn btn-outline-danger">View</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}