{% extends "base.html" %}

{% block content %}

<script src="{{ url_for('static', filename='js/main.js') }}" type="text/javascript" ></script>
<script src="{{ url_for('static', filename='js/csrf.js') }}" type="text/javascript" ></script>
<script src="{{ url_for('static', filename='js/cors.js') }}" type="text/javascript" ></script>

<h1>Hello!</h1>
<h2>Cookies</h2>

<ul class="list2a">
{% for i in cook %}
    <li>{{i}}: {{cook[i]}}</li>
{% endfor %}

</ul>


<a href="/attack">Test default attacks</a>
<a href="/edit">Create your own payload</a>

    
{% endblock %}